* {
    background-color: #54cdfd;
    font-family: 'Times New Roman', Times, serif;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#answer {
    border: 1px solid black;
}